body {
    background-color: #FFFFF4; /* Consistent background color */
    padding: 1% 2% 1% 1%; /* Makes sure nothing touches sides of screen */
    font-family: 'Kumbh Sans', sans-serif; /* Consistent font */
}

/* Login Page CSS */
.container1{
    padding:5%;
}

.loginbutton{
    width: 30%; /* Dynamic width for changing screen size */
    background-color: #083D77; 
    color:white; 
    border: none; 
    border-radius: 8px; /* Rounded edges */
    padding: 10px;
    text-align: center; /* Centers button in middle of screen */
    font-size: 25px;
}

.loginbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* Adds drop shadow when mouse hovers over button */
}

.langbutton{
    width: 80px; /* Fixed width for box so the width doesn't change */
    border: 3px solid #083D77;
    background-color: transparent;
    color:black;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.langbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* Adds drop shadow when mouse hovers over button */
}

.largelogo{
    width:18%; /* Dynamic width for changing screen size */
}

.smalllogo{
    width:10%; /* Dynamic width for changing screen size */
}

.world{
    width:30%; /* Dynamic width for changing screen size */
}

.close { /* For 'x' to close modal boxes */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    text-align: right; /* Right aligned in modal */
}

.close1 { /* For 'x' to close modal boxes */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    text-align: right; /* Right aligned in modal */
}

.logintitle{
    font-size: 30px;
    text-align: center;
}

.loginbutton2{
    width: 20%; /* Dynamic width for changing screen size */
    background-color: #083D77;
    color:white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.loginbutton2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* Adds drop shadow when mouse hovers over button */
}

.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
  }






/* Guest Page CSS */
.logoutbutton{
    background-color: #083D77;
    color:white;
    border: none;
    border-radius: 8px;
    padding: 8px 15px 11px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

.logoutbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.accountingbutton{
    background-color: #083D77;  
    color:white;                
    border: none;               
    border-radius: 8px;         
    padding: 8px 15px 11px 15px;
    text-align: center;         
    display: inline-block;      
    font-size: 18px;            

}
.order{
    border: 3px solid #083D77;
    background-color: transparent;
    border-radius: 8px;
}

.filter {
    background-color: #083D77;
    border-radius: 8px;
    color: white;
    width: 100%;
    text-align: left;
}

.itemsBox{
    border: 3px solid #083D77;
    background-color: transparent;
    border-radius: 8px;
}
.prodModal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;

}
.prodModal-content{

    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
    text-align: center;
    

}

#amoLef, #prodT, #supp, #price, #current-pr, #new-price{
    text-align: left;
    margin-left: 100px;
}




.buttons{
    float: left;
    display: inline;
}
#removeItem{
    background-color: #083D77;
    left: 100%;
    width: 30%;
    height: 44px;
    color: #fefefe;
    border-radius: 8px;
    border: none;



}

#manage{
        
    background-color:#E1CE7A;
    width: 30%;
    height: 44px;
    color: white;
    border-radius: 8px;
    border: none;




}

#refillInv{
    background-color:#339989;
    width: 30%;
    height: 44px;
    color: white;
    border-radius: 8px;
    border: none;

}

.priceMgmt{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;


}
.priceMgmt-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
    text-align: center;
}

.priceButtons{

}

#set-price{
    background-color: #339989;
    width: 40%;
    height: 44px;
    color: white;
    border-radius: 8px;
    border: none;

}

#cancel-button{
      background-color: #083D77;
      width: 40%;
      height: 44px;
      color: white;
      border-radius: 8px;
      border: none;
}

#cancel-button2{
      background-color: #083D77;
      width: 40%;
      height: 44px;
      color: white;
      border-radius: 8px;
      border: none;
}
#yes-button{
     background-color: #339989;     
     width: 40%;                    
     height: 44px;                  
     color: white;                  
     border-radius: 8px;            
     border: none;                  
}
.removeItem{
    display: none;     
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;


}

.remove-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
    text-align: center;
}


.callSecurity{
    background-color: red;
    border: none;
    border-radius: 8px;
    padding: 8px 15px 11px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    width: 15%;

}
#telephone-logo{
  width: 30%;
}
.secModal{
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */                       
    z-index: 1; /* Sit on top */                               
    padding-top: 100px; /* Location of the box */              
    left: 0;                                                   
    top: 0;                                                    
    width: 100%; /* Full width */                              
    height: 100%; /* Full height */                            
    overflow: auto; /* Enable scroll if needed */              
    background-color: rgb(0,0,0); /* Fallback color */         
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
    text-align: center;                                        
}
.secModalCon {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 40%;
    text-align: center;
    padding-bottom: 15%;

}

.cancel-security{
 
}